.navbar{
    display: flex;
    justify-content:center;
    align-items: center; 
    float: right;

}
.navbar a{
    justify-content: space-between;
    display: block;
    text-align: center;
    float: right;
    text-decoration: none;
    padding: 16px 20px;
    font-size: 20px;
    font-weight: 200;
    font-family: 'poppins', sans-serif;
    color: black;
}

/* .navbar a:hover{
    font-size: large;
    text-shadow: 0 0 3px rgb(179, 236, 240),
    0 0 5px rgb(179, 236, 240), 0 0 8px rgb(179, 236, 240);
} */

.user{
    padding: 60px 0;
    float: left;
    margin-left: 35px;
    font-size: 20px;
}

.user span{
    color: orange;
}

.icon{
    display: inline-block;
    width: 160px;
    height: 55px;
    left: 35px;
    position: absolute;
    bottom: 0;
    top: 0;
    padding-top: 5px;

}


.topbar a:hover{
    background-color: rgb(249, 243, 235);
    border-radius: 5rem;
}
.topbar a.active{
    background-color: rgb(55, 142, 241);
    color: white;
    border-radius: 5rem;
}