.InputContent{
    display: flex;
    flex-direction: row;
    gap: 4px;
    /* padding: 4px; */
    /* margin: 10px 100px; */
}
.InputContent label{
    font-weight: 400;
    font-size: 15px;

    padding: 10px;
}
.InputContent input{
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 10px 15px;
    width: 370px;
    outline: none;

}

.InputContent input:hover{
    border-color:  rgb(45, 131, 229);
    
}