.container{
    min-height: 91vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(177, 244, 244); */
    
}
.body{
    background: url("H:\Major project\project\src\images\vadim-bozhko-lbO1iCnbTW0-unsplash.jpg");
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    margin-top: 40px;
}
.logo {
    width: 270px;
    height: 90px;
    left: 35px;
    position: absolute;
    bottom: 0;
    top: 0;
    padding-top: 5px; 
}



.innerbox{
    min-width: 400px;
    height: fit-content;
    width: fit-content;
    background-color: #ffff;
    box-shadow: 1px 1px 4px rgb(27, 29, 29);
    border-radius: 20px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.innerbox:hover{
    min-width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(146, 213, 218),
    0 0 10px rgb(146, 213, 218), 0 0 15px rgb(146, 213, 218);
}


.heading{
    text-align: center;
    font-family: 'poppins', sans-serif
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 0;
    font-weight: 700;
}

.footer .error{
    font-size: 500;
    color: rgb(205, 33, 33);
    text-align: center;
}

.footer .success{
    font-size: 500;
    color: rgb(84, 220, 84);
    text-align: center;

}

.footer button{
    outline: none;
    border: none;
    background-color: rgb(55, 142, 241);
    color: #ffff;
    border-radius: 5px;
    font-size: 1rem;
    padding: 9px 16px;
    width: 100%;
    font-weight: 500;
}
.footer button:disabled{
    background-color: gray !important;
}
.footer button:hover{
    font-size: medium;
    background-color: rgb(10, 112, 229);
    
    /* box-shadow: 0 0 5px rgb(49, 175, 238),
    0 0 8px rgb(49, 175, 238),0 0 11px rgb(49, 175, 238); */
}

.footer p span a{
    font-weight: bold;
    color: rgb(45, 131, 229);
    letter-spacing: 1px;
    font-size: 1rem;
}

.font{
    margin-top: 120px ;
    margin-left: 70px;
}

.font h2{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: xx-large;
    font-size: 70px;
}

.font span{
    color: #fff;
}


.btn{
    display: flex;
    margin-left: 70px;
    padding: 25px 2px;
    
    
}

.btn  button{
    margin-right: 70px;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'poppins', sans-serif;
    background-color: rgb(55, 142, 241);
    color: #fff;
    border: none;
    font-size: 20px;
    
}

.btn button:hover{
    font-size: 20px;
    background-color: rgb(10, 112, 229);
}

.innerbox .googlebtn{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    /* border: 1px solid; */
}

.googlebtn .icons button{
    font-size: large;
    /* font-weight: 500; */
    font-style: 'IBM Plex Mono', monospace;
    background-color: #fff;
    width: fit-content;
    border-radius: 5px;
    padding: 1px 70px;
    margin-top: -10px;
    

}

.googlebtn .icons button:hover{
    font-size: larger;

}

.googlebtn .icons img{
    width: 30px;
    float: left;
    padding-right: 10px;
    padding-top: 4px;

}
